* {
  font-family: sans-serif;
}

/* this is for header part */


body{
  margin: 0px;
  /* font-family: Lato; */
}

/* Announcement Section */
#announce {
  background-color: black;
  padding: 8px 0px 10px 0px;
}
#announce > p{
  margin: 0px;
  font-size: 14px;
  color: white;
  text-align: center;
}
/* Nav Section */
nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  box-shadow: 0 1px 5px #ababab;
  padding: 13px 50px;
  background-color: white;
  margin-bottom: 10px;
}
nav > div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav > div > img{
  width: 85px;
  cursor: pointer;
}
nav > div > div >img{
  width: 22px;
  cursor: pointer;
}
nav > div > div:first-of-type > *{
  margin: 0px 15px;
  color: black;
  text-decoration: none;
  font-weight: 700;
}
nav > div > div:first-of-type{
  margin-right:55px;
}
nav > div > div:first-of-type > span > a{
  color: black;
  text-decoration: none;
  font-weight: 700;
}
nav > div > div:last-of-type {
  display: flex;
  align-items: center;
}
nav > div > div:last-of-type > *{
  margin: 0px 10px;
}
nav > div > div:last-of-type > input{
  border: none;
  background-color: #eaeaea;
  border-radius: 2em;
  padding: 11px 55px;
}
#errspan {
  margin-right: -40px;
  z-index: 2;
  color: rgb(135, 135, 135);
}
nav .fa-bars {
  display: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  background-color: white;
}
.show2 {
  display: none;
  position: absolute;
  min-width: 200px;
  background-color: white;
  right:10px;
  top: 80px;
  border: 3px solid lightgray;
  padding: 10px;
}
.show2 p{
  color: #FF0000;
  font-weight: 600;
  margin-top: 0px;
}
.show2 a{
  background-color: #FF0000;
  padding: 5px 10px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  width: 90%;
  text-align: center;
  display: inline-block;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 190px;
  padding: 40px 30px 30px 30px;
  margin-left: -40px;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding: 40px 20px 5px 20px;
  margin-left: -230px;
}

.show3{
  display:block;
}

.dropdown-content div{
  padding: 3px 75px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor:pointer;
}
.dropdown-content div > p{
  margin-top: 0px;
  text-align: center;
}
.dropdown-content div > img{
  width:100px;
  margin:auto;
}

nav > div > div:first-of-type span:hover .dropdown-content{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding: 40px 20px 5px 20px;
  margin-left: -230px;
  margin-top: 20px;
}

nav>div>div:first-of-type>span {
position: relative;
display: inline-block;
padding: 20px 0px;
}


.dropdown-content2 a {
color: black;
font-weight: 400;
padding: 5px 0px;
text-decoration: none;
display: block;
}

nav>div>div:first-of-type>span:hover .dropdown-content2{display: block;}

nav > div > div:first-of-type a {
  text-decoration: none;
  position: relative;
  margin-bottom: 1em;
}

nav > div > div:first-of-type a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: black;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

nav > div > div:first-of-type a:hover:after {
  transform: scaleX(1);
  transform-origin: left;
}

/* Cart Section */

.cart-panel {
  position: fixed;
  height: 100vh;
  width:400px;
  right: -560px;
  top:0;
  backdrop-filter: blur(5px);
  background: white;
  /* -webkit-transition: all 0.5s ease-in-out; */
}

.open {
  right: 0  !important;
}
.hide {
  visibility: hidden  !important;
}


.cart-header > h4 {
  font-weight: normal;
}
.cart-header > button {
  border:none;
  outline:none;
  box-shadow: rgba(149,157,165,0.2) 0px 8px 24px;
  background: linear-gradient(#C7D3DC, #5B798E);
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 99px;
  /* -webkit-transition: all 0.3s linear; */
  background-size: 1px 200px;
}
.cart-header > button:hover {
  background-position: 100px;
}
.cart-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 55vh;
}
#carttop {
  display: flex;
  justify-content: space-between;
  background-color: #FF0000;
  padding: 0px 15px;
  color: white;
  font-size: 18px;
  font-weight: 700;
}
#carttop p{
  margin: 12px;
}
#carttop button{
  border: 0;
  background-color: #FF0000;
  color: white;
  cursor: pointer;
  padding-top: 5px;
}
#ribbon {
  background-color: black;
  color: white;
}
#ribbon p{
  margin: 0px;
  padding: 9px 15px;
  font-size: 12px;
}
.icontain {
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}
.icontain p{
  margin: 5px 0px;
}
.icontain > img:first-of-type{
  height: 92px;
}
.icontain > div{
  margin-left: 20px;
  flex-grow: 1;
}
.icontain > div >p:first-of-type{
  font-weight: 600;
}
.icontain > div > p:nth-of-type(2){
  color: #FF0000;
  font-weight: 600;
  font-size: 13px;
}
.icontain > div > p:nth-of-type(2) > span{
  font-weight: 100;
  color: black;
  font-size: 10px;
  text-decoration: line-through;
   margin-left: 5px;
}
.icontain > div > p:nth-of-type(3)>span:nth-of-type(2){
  display: inline-block;
  margin: 0px 10px;
  font-weight: 600;
  font-size: 12px;
  height: 26px;
  line-height: 26px;
}
.icontain > div > p:nth-of-type(3)>span:first-of-type{
  display: inline-block;
  color: #FF0000;
  border-radius: 50%;
  border: 1px solid black;
  line-height :16px;
  width: 20px;
  height: 20px;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  user-select: none;
  cursor: pointer;
}
.icontain > div > p:nth-of-type(3)>span:last-of-type{
  display: inline-block;
  color: #FF0000;
  border-radius: 50%;
  border: 1px solid black;
  line-height :16px;
  width: 20px;
  height: 20px;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  cursor: pointer;
  user-select: none;
}
.icontain > img:last-of-type{
  width: 16px;
  height: 16px;
  cursor: pointer;
}
#cctotal {
  box-shadow: 0 -6px 7px #dfdfdfb8;
}
#cctotal > div{
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  justify-content: space-between;
}
#cctotal > div > div{
  display: flex;
  justify-content: space-between;
}
#cctotal > div p{
  padding: 0px 10px;
  margin: 5px 0px;
  font-weight: 600;
}
#cctotal > div a{
  color: #FF0000;
  text-align: center;
  font-weight: 600;
  margin: 10px 0px;
  cursor: pointer;
}
#cctotal  button{
  align-self: center;
  margin-top: 10px;
  width: 90%;
  background-color: #FF0000;
  border: 0;
  padding: 15px 0px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}


/* Media Queries */
@media screen and (max-width:1199px) {
  nav > div > div {
      display: none;
  }
  nav > div > div:last-of-type{
      width: 100%;
      justify-content: flex-end;
      margin-left: 20px;
  }
  nav > div > div:last-of-type > input{
      width: 70%;
  }
  nav .fa-bars {
      display: inline;
      margin-left: -30px;
      margin-right: 20px;
      scale: 1.5;
  }
}

@media screen and (max-width:740px) {
  #main > div:first-of-type{
      display: none;
  }
}



















/* this is for middle part */
.main {
  display: flex;
  justify-content: center;
  background-image: url("https://www.businessapac.com/wp-content/uploads/2021/02/feature-3.jpg");
}

.main > div {
  background-color: rgb(243, 238, 232);
  height: 700px;
  width: 400px;
  margin-left: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main > div div {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  margin-left: 40px;
}

.main > div:first-child p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-right: 68%;
}

.main div label {
  margin-bottom: 5px;
  font-weight: bold;
}

.main div input[type="text"],
.main div input[type="email"],
.main div input[type="number"] {
  width: 200px;
  height: 25px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid lightgray;
  margin-top: 8px;
}

.main select {
  width: 215px;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid lightgray;
  margin-top: 8px;
}
.main .btn {
  display: inline-block;
  margin-top: 20px;
  padding: 0px 20px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}
button {
  height: 40px;
  width: 70px;
  margin-left: 9px;
  border-radius: 5px;
}

@media only screen and (max-width: 1100px) {
  /* Medium Screen  */
}

@media only screen and (max-width: 444px) {
  /* Small Screen  */
  .main div input[type="text"],
  .main div input[type="email"],
  .main div input[type="number"] {
    width: 100vw;
    margin-left: 8vw;
  }
  .main > div {
    width: 100vw;
    margin-left: 2vw;
  }
}
/* this is for footer part */

body {
  margin: 0px;
}
footer {
  margin-top: 10px;
}
/* Footer Section */
footer > div:first-of-type {
  background-color: black;
  padding: 17px 0px;
}

footer > div:first-of-type > p {
  color: white;
  width: 65%;
  margin: auto;
  text-align: center;
  line-height: 17px;
}

footer > div:nth-of-type(2) {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 1fr;
  padding: 30px 40px;
  font-size: 13px;
  color: gray;
}
footer > div:nth-of-type(2) img {
  width: 85px;
}
footer > div:nth-of-type(2) > div:first-of-type > p {
  width: 85%;
}
footer > div:nth-of-type(2) > div:first-of-type > span {
  border: 1px solid rgb(254, 5, 0);
  border-radius: 5px;
  width: 95%;
}
footer > div:nth-of-type(2) > div:first-of-type > span > button {
  border: 0;
  background-color: #ee1d24;
  color: white;
  margin: 5px;
  padding: 12px 25px;
  border-radius: 5px;
  font-weight: 800;
  width: 40%;
}
footer > div:nth-of-type(2) > div:first-of-type > span > input {
  border: 0;
  width: 100%;
}
footer > div:nth-of-type(2) > div:first-of-type > span > input::placeholder {
  padding-left: 20px;
}
footer > div:nth-of-type(2) > div span {
  display: flex;
}
footer > div:nth-of-type(2) > div > p:first-child {
  color: black;
  font-weight: 600;
  font-size: 13px;
}
footer > div:nth-of-type(2) > div li {
  padding-bottom: 15px;
  padding-right: 20px;
}
footer > div:nth-of-type(2) > div ul:first-of-type {
  border-right: 1px solid lightgray;
}
footer > div:nth-of-type(2) > div {
  border-right: 1px solid lightgray;
  margin: 0px 20px;
}

footer > div:nth-of-type(3) {
  display: flex;
  padding: 0px 40px;
}
footer > div:nth-of-type(3) > span i {
  width: 55px;
  padding: 10px 0px;
}
footer > div:nth-of-type(4) {
  padding: 0px 40px;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 700;
}
footer > div:nth-of-type(4) > div:first-of-type > img {
  width: 150px;
}
footer > div:nth-of-type(4) > div:last-of-type > img {
  width: 410px;
}

footer > div:nth-of-type(2) > div ul {
  list-style-type: none;
  padding: 0px;
  margin-right: 20px;
}

footer > div:last-of-type {
  padding: 0px 40px;
  padding-bottom: 60px;
  font-size: 13px;
}
footer > div:last-of-type > p {
  padding: 10px 0px;
}
footer > div:last-of-type p span {
  font-weight: 600;
}
footer hr {
  border-top: 1px solid lightgray;
}

/* Media Queries */
@media screen and (max-width: 1199px) {
  footer > div:nth-of-type(2) {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 740px) {
  footer > div:nth-of-type(2) {
    grid-template-columns: 1fr;
  }
  footer > div:nth-of-type(4) {
    flex-direction: column;
  }
  footer > div:nth-of-type(4) > div:last-of-type > img {
    width: 100%;
  }
}
