
body{
    margin: 0px;
    font-family: Lato
}

#announce {
    background-color: black;
    padding: 8px 0px 10px 0px;
}
#announce > p{
    margin: 0px;
    font-size: 14px;
    color: white;
    text-align: center;
}
nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    box-shadow: 0 1px 5px #ababab;
    padding: 13px 50px;
    background-color: white;
}
nav > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav > div > img{
    width: 85px;
}
nav > div > div >img{
    width: 22px;
}
nav > div > div:first-of-type > *{
    margin: 0px 15px;
    color: black;
    text-decoration: none;
    font-weight: 700;
}
nav > div > div:first-of-type{
    margin-right:55px;
}
nav > div > div:first-of-type > span > a{
    color: black;
    text-decoration: none;
    font-weight: 700;
}
nav > div > div:last-of-type {
    display: flex;
    align-items: center;
}
nav > div > div:last-of-type > *{
    margin: 0px 10px;
}
nav > div > div:last-of-type > input{
    border: none;
    background-color: #eaeaea;
    border-radius: 2em;
    padding: 11px 55px;
}
#errspan {
    margin-right: -40px;
    z-index: 2;
    color: rgb(135, 135, 135);
}
nav .fa-bars {
    display: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: white;
}
.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 190px;
    padding: 40px 30px 30px 30px;
    margin-left: -40px;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 40px 20px 5px 20px;
    margin-left: -230px;
}

.dropdown-content div{
    padding: 3px 75px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor:pointer;
}
.dropdown-content div > p{
    margin-top: 0px;
    text-align: center;
}
.dropdown-content div > img{
    width:100px;
    margin:auto;
}

nav > div > div:first-of-type span:hover .dropdown-content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 40px 20px 5px 20px;
    margin-left: -230px;
    margin-top: 20px;
}

nav>div>div:first-of-type>span {
  position: relative;
  display: inline-block;
  padding: 20px 0px;
}


.dropdown-content2 a {
  color: black;
  font-weight: 400;
  padding: 5px 0px;
  text-decoration: none;
  display: block;
}

nav>div>div:first-of-type>span:hover .dropdown-content2{display: block;}





footer > div:first-of-type{
    background-color: black;
    padding: 17px 0px;
}

footer > div:first-of-type > p{
    color: white;
    width: 65%;
    margin: auto;
    text-align: center;
    line-height: 17px;
}

footer > div:nth-last-of-type(2){
    display: grid;
}

@media screen and (max-width:1199px) {
    nav > div > div {
        display: none;
    }
    nav > div > div:last-of-type > img:first-of-type{
        display: none;
    }
    nav > div > div:last-of-type{
        width: 100%;
        justify-content: flex-end;
        margin-left: 20px;
    }
    nav > div > div:last-of-type > input{
        width: 70%;
    }
    nav .fa-bars {
        display: inline;
        margin-left: -30px;
        margin-right: 20px;
        scale: 1.5;
    }
}